@import url(../blocks/page/page.css);

@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);
@import url(../blocks/logo/_place/logo_place_footer.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__main-illustration/header__main-illustration.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__square-pic/header__square-pic.css);

@import url(../blocks/description/description.css);
@import url(../blocks/two-columns/two-columns.css);
@import url(../blocks/two-columns/__brief/two-columns__brief.css);
@import url(../blocks/two-columns/__main-text/two-columns__main-text.css);
@import url(../blocks/two-columns/__paragraph/two-columns__paragraph.css);
@import url(../blocks/two-columns/__span-accent/two-columns__span-accent.css);

@import url(../blocks/digits/digits.css);
@import url(../blocks/table/table.css);
@import url(../blocks/table/__cell/table__cell.css);
@import url(../blocks/table/__cell/_theme/table__cell_theme_dark.css);
@import url(../blocks/table/__heading/table__heading.css);
@import url(../blocks/table/__text/table__text.css);
@import url(../blocks/table/_theme/table_theme_dark.css);

@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-title/_theme/section-title_theme_dark.css);
@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/section-subtitle/_theme/section-subtitle_theme_dark.css);

@import url(../blocks/feynman/feynman.css);
@import url(../blocks/feynman/__main-illustration/feynman__main-illustration.css);
@import url(../blocks/feynman/__title/feynman__title.css);
@import url(../blocks/feynman/__subtitle/feynman__subtitle.css);
@import url(../blocks/feynman/__link/feynman__link.css);

@import url(../blocks/kaufman/kaufman.css);
@import url(../blocks/kaufman/__triangle/kaufman__triangle.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__columns/footer__columns.css);
@import url(../blocks/footer/__column/_content/footer__column_content_copyright.css);
@import url(../blocks/footer/__column/_content/footer__column_content_info.css);
@import url(../blocks/footer/__column-link/footer__column-link.css);
@import url(../blocks/footer/__social-icon/footer__social-icon.css);
@import url(../blocks/footer/__column-heading/footer__column-heading.css);
@import url(../blocks/footer/__column-links/footer__column-links.css);
@import url(../blocks/footer/__author/footer__author.css);

.techniques{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 920px;
}

.cards__item{
  margin-top: 60px;
  width: 240px;
  margin-right: 100px;
}

.cards__item:nth-child(3n){
  margin-right: 0;
}

.cards__image{
  margin: 60px 40px 43px 40px;
  width: 160px;
  height: 160px;
  border-radius: 80px;
}

.cards__description{
  text-align: center;
  margin-bottom: 0;
  line-height: 23px;
  font-size: 18px;
}

.cards__title{
  margin-bottom: 16px;
  text-align: center;
  margin-top: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.video{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.video__iframes{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.video__iframe{
  margin-right: 20px;
  z-index: 1;
}

.video__iframe:last-child{
  margin-right: 0;
}

.video__background{
  width: 100%;
  height: 50px;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
}

.oakley{
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.khan{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f2f2f2;
  padding-top: 105px;
}

.khan__container{
  width: 80%;
  margin-right: 100px;
  margin-left: 100px;
}

.khan__author{
  line-height: 42px;
  font-size: 30px;
  margin: 0;
}

.khan__title{
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 0;
}

.khan__quote{
  width: 790px;
  margin-bottom: 36px;
  margin-top: 0;
  line-height: 34px;
  font-size: 24px;
}


.khan__quote-author{
  margin-bottom: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

.khan__quote-author-subline{
  margin-bottom: 68px;
  line-height: 1.15;
  font-size: 24px;
  margin-top: 0;
}

.khan__book-container{
  display: flex;
  flex-direction: row;
  }

.khan__book-pic{
  margin-right: 48px;
  background-image: url("../images/khan-book.jpg");
  width: 620px;
  height: 608px;
  background-size: 100%;
}

.khan__buy-link{
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  color: #2f80ed;
}

.resources{
  padding-top: 100px;
  padding-bottom: 217px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 80px;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.resources__logo{
  width: 270px;
  height: 38px;
}
